$primaryColor: #345;
$color1: #0009;
$secondaryColor: #11998e;
$thirdColor: #38ef7d;
$fourthColor: #00fa9a;
$lineGradient: radial-gradient(
  rgba($secondaryColor, 1),
  rgba($secondaryColor, 0)
);

$mainTextFont: "Raleway";

$show-home-image: true;
$home-image: url("../img/mainBanner.jpg");
$portrait: url("../img/me3.jpg");
$background-opacity: 0.9;

$buttonGradient: linear-gradient(
  to bottom,
  $primaryColor 5%,
  $secondaryColor 100%
);
