@import "variables.scss";
@import "mixins.scss";
@import "menu.scss";
@import "animations.scss";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primaryColor;
  color: white;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primaryColor, 2), 0.5);

    border-right: solid 3px rgba(0, 255, 0, 0.75);
    white-space: nowrap;
    overflow: hidden;

    animation: animated-text 8s steps(72, end) 1s 1 normal both,
      animated-cursor 500ms steps(72, end) infinite;
  }
}

a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.text-secondary {
  color: $thirdColor;
  background: -webkit-linear-gradient($secondaryColor, $thirdColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  padding: 4rem;
  height: 100%;

  .main-line {
    height: 2px;
    width: 50vw;
    margin-bottom: 1.5rem;
    border-radius: 30px;
    background: radial-gradient(
      rgba($secondaryColor, 1),
      rgba($secondaryColor, 0)
    );
    z-index: 3;
  }

  .icons {
    margin-top: 1rem;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);

    a {
      padding: 0.4rem;

      &:hover {
        color: $thirdColor;
        @include easeOut;
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
      background: -webkit-linear-gradient(white, #c0c0c0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
